<configuration>
  <system.webServer>
    <handlers>
      <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
      <add name="iisnode" path="src/server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^src/server.js\/debug[\/]?" />
        </rule>

        <!-- All other requests are redirected to the Node.js server -->
        <rule name="nextjs">
          <match url="/*" />
          <action type="Rewrite" url="src/server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- You can control how Node is hosted. See https://github.com/Azure/iisnode/blob/master/src/samples/configuration/web.config for a full list of options -->
    <iisnode      
      loggingEnabled="true"
      devErrorsEnabled="true"
      nodeProcessCommandLine="node.exe"
    />
    
  </system.webServer>
</configuration>
