<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="next">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- 
      This setting will disable the detailed error messages you are seeing
      and show a generic 500 error page, which is better for production.
      For debugging, you can temporarily set this back to "true".
    -->
    <iisnode 
      devErrorsEnabled="false" 
      loggingEnabled="true"
    />

  </system.webServer>
</configuration>
